* {
    font-family: Arial, Helvetica, sans-serif;
}




.conteiner {
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(102, 102, 150);

}

.title {
    font-size: 32px;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
}

li {
    box-sizing: border-box;
    width: 200px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.recipe-img {
    width: 100%;
    padding-bottom: 10px;
}

.recipe-name {
    display: block;
    text-align: center;
}